.config/tmux/plugins/**
.config/fcitx5/conf/cached_layouts
.config/fcitx5/conf/notifications.conf
.config/fcitx5/conf/rime.conf
.config/fcitx5/config
.config/fcitx5/profile
.config/systemd/**
.config/zsh/.zcompdump
.config/Thunar/
.config/claude/
.config/Qt**
.config/dconf/
.config/fcitx/
.config/ibus/
.config/nwg-look/
.config/pulse/
.config/xfce4/
.config/JetBrains/
.config/github-copilot/
.config/git/**
.config/gtk-3.0/bookmarks
.config/java/
.config/chromium/
.config/qalculate/
.config/mimeapps.list
.config/pavucontrol.ini
bin/Config.toml
.config/mpd/database
