* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(34, 34, 34, 0.7);
}

button {
    border-color: #FFD700;
    text-decoration-color: #FFD700;
    color: #F5F5F5;
    background-color: #2A2A2A;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-size: 18%;
    margin: 13px;
}

button:focus, button:active, button:hover {
    background-color: #333333;
    outline-style: none;
}

#lock {
    background-image: url("./icons/lock.svg");
}

#logout {
    background-image: url("./icons/logout.svg");
}

#suspend {
    background-image: url("./icons/suspend.svg");
}

#hibernate {
    background-image: url("./icons/hibernate.svg");
}

#shutdown {
    background-image: url("./icons/shutdown.svg");
}

#reboot {
    background-image: url("./icons/reboot.svg");
}
